.example-tab-icon {
  margin-right: 8px;
}
a{
  display: inline-flex;
}

mat-grid-tile {
  background: lightblue;
}




.grid{
  display: grid;
  // grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 8px;
  &>*{
    margin: 8px;
  }

}
