<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <ng-container *ngFor="let route of routes; let index = index"  >
    <a #tabLink mat-tab-link *ngIf="route.path"  [active]="tabLink.elementRef.nativeElement.classList.contains('tab-active-link')" [id]="index" [routerLink]="[ route.path ]" routerLinkActive="tab-active-link">
      <mat-icon class="example-tab-icon">{{route.icon}}</mat-icon>
      <span>{{route.path | uppercase}}</span>
    </a>
  </ng-container>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>


<section >
  <div class="grid">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Registered Users</mat-card-title>
        <mat-card-subtitle>End</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Active Users</mat-card-title>
        <mat-card-subtitle>End</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Banned Users</mat-card-title>
        <mat-card-subtitle>End</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
</section>








<!--
<mat-grid-list cols="2" >
  <mat-grid-tile [colspan]="2">
    <mat-card  class = "example-card" >
      <mat-card-header >
        <mat-card-subtitle > Raza de Perro </mat-card-subtitle>
        <mat-card-title > Shiba Inu </mat-card-title>
      </mat-card-header>
      <mat-card-content >
        <p> Esta tarjeta tiene un divisor y un progreso indeterminado como pie de página </p >
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus modi tenetur perferendis at laborum, quae rerum repellendus blanditiis id exercitationem rem! Commodi autem id temporibus neque, vitae velit quia unde. </p >
        <mat-divider />
      </mat-card-content >
      <mat-card-actions >
        <button  mat-button > ME GUSTA </button >
        <button  mat-button > COMPARTIR </button >
      </mat-card-actions >
      <mat-card-footer >
      </mat-card-footer >
    </mat-card >
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->
