<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>search</mat-icon>
    </button> -->
    <button mat-icon-button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon matBadge="8" matBadgePosition="before" matBadgeColor="accent">notifications</mat-icon>
    </button>
    <!-- <span>Hi' Jesus</span> -->
    <button mat-icon-button  class="example-icon avatar-button" aria-label="Example icon-button with share icon">
      <!-- <mat-icon >share</mat-icon> -->
    </button>

  </mat-toolbar>

  <mat-sidenav-container  class="example-sidenav-container"  [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav opened="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <ng-container *ngFor="let route of this.routes.children">
        <mat-nav-list *ngIf="route.path">
          <!-- <ng-container *ngIf="!route.children"> -->
            <mat-list-item [routerLink]="[ route.path ]" routerLinkActive="active-link" ariaCurrentWhenActive="page">
              <mat-icon matListItemIcon >{{route.icon}}</mat-icon>
              <h3>{{route.path | titlecase}}</h3>
            </mat-list-item>
            <mat-divider></mat-divider>
          <!-- </ng-container> -->
          <!-- <ng-container *ngIf="route.children">
            <mat-list-item>
              <mat-icon matListItemIcon >home</mat-icon>
              <span matListItemTitle>Title</span>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container> -->
        </mat-nav-list>
      </ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet id="sideContent"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<!-- [routerLink]="[ '/panel/' + section.url ]" routerDirection="forward" routerLinkActive='section-active-link' [routerLinkActiveOptions]="{exact: true}" -->
