<section>
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-subtitle>Fastworld Marketplace</mat-card-subtitle>
        <mat-card-title>Ingresar</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <form #form="ngForm" class="signin-form" (ngSubmit)="onSubmit()" [formGroup]="this.signinFormGroup">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Number Phone</mat-label>
          <mat-icon matSuffix>account_box</mat-icon>
          <mat-error>
            <mat-label *ngIf="this.phoneControl.getError(customValidatorError.textEmpty)">text Empty</mat-label>
            <mat-label *ngIf="this.phoneControl.getError(customValidatorError.notIsValidPhoneNumber)">Invalid phone</mat-label>
          </mat-error>
          <input matInput placeholder="-----------" inputmode="tel" type="tel" formControlName="phone" [errorStateMatcher]="matcher">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Password</mat-label>
          <mat-icon matSuffix>password</mat-icon>
          <mat-error>
            <mat-label *ngIf="this.phoneControl.getError(customValidatorError.textEmpty)">text Empty</mat-label>
          </mat-error>
          <input matInput placeholder="--------------" inputmode="text" type="password" formControlName="password" [errorStateMatcher]="matcher">
        </mat-form-field>
        <button mat-raised-button color="primary"type="submit" color="primary" >Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
